header {
  background-color: #f8f9fa;
  padding: 15px 0;

  nav {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: #6c757d;
      text-decoration: none;
      padding: 0 10px;
      font-size: 18px;

      &:hover {
        cursor: pointer;
        color: #007bff;
      }

      &.router-link-active {
        color: #007bff;
        font-weight: bold;
      }
    }
  }
}
